src/main/resources/zhlex.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--DTD generated by XML Spy v4.0.1 U (http://www.xmlspy.com)-->
<!ELEMENT COL (#PCDATA)>
<!ATTLIST COL
	name CDATA #REQUIRED
	sortable (yes | no) #REQUIRED
	sorturl CDATA #IMPLIED
>
<!ELEMENT CONFIG (DOCID, SOURCETYPE, COL+, MESSAGE?)>
<!ELEMENT DATASET (FIELDCONTENT+)>
<!ATTLIST DATASET
	id CDATA #IMPLIED
>
<!ELEMENT DATASHEET (CONFIG, DATASET+)>
<!ELEMENT DOCID (#PCDATA)>
<!ELEMENT FIELDCONTENT (#PCDATA | LIST)*>
<!ATTLIST FIELDCONTENT
	columnname CDATA #REQUIRED
	function (text | textlink | navlink | filelink | title | list | htmllink) #REQUIRED
	align (left | center | right) #IMPLIED
	valign (top | bottom | middle) #IMPLIED
	target (new | same) #IMPLIED
	url CDATA #IMPLIED
>
<!ELEMENT LIST (#PCDATA)>
<!ATTLIST LIST
	columnname CDATA #REQUIRED
	function (text | textlink | filelink | title) #REQUIRED
	align (left | center | right) #IMPLIED
	valign (top | bottom | middle) #IMPLIED
	target (new | same) #IMPLIED
	url CDATA #IMPLIED
>
<!ELEMENT MESSAGE (#PCDATA)>
<!ATTLIST MESSAGE
	type (error | exception | system) #REQUIRED
>
<!ELEMENT SOURCETYPE (#PCDATA)>
